<?xml version="1.0" encoding="UTF-8"?>
<ApplicationSettings>
  <element Font="type_A" />
  <element delimiter="comma" />
  <element spacer="ellipsis" />
  <element clearDelimiter="true" />
  <element addRegistration="true" />
  <element additionalGraphs="false" />
  <element appendImport="true" />
  <element underlineCategory="false" />
  <element noteAlign="alignLeft" />
  <element fearSpacers="false" />
  <element everyPageVedName="false" />
</ApplicationSettings>