<?xml version="1.0" encoding="UTF-8"?>
<ApplicationSettings>
  <element Font="GOST_type_A" />
  <element delimiter="comma" />
  <element spacer="ellipsis" />
  <element clearDelimiter="True" />
  <element addRegistration="True" />
  <element additionalGraphs="False" />
  <element appendImport="True" />
  <element underlineCategory="False" />
  <element soglInTable="False" />
  <element noteAlign="alignLeft" />
  <element fearSpacers="False" />
  <element everyPageVedName="False" />
  <element descAddDocument="False" />
  <element specVariantExclude="False" />
  <element perExcludePropName="perExclude" />
  <element specExcludePropName="specExclude" />
  <element vedExcludePropName="vedExclude" />
  <element vedRegulatingPercentage="0" />
  <element registrationType="GOST_2_503_90" />
</ApplicationSettings>